@import "../../app.component";

div {
  width: $date-size;
  height: $date-size;
  padding: $padding-size;
  border-radius: $date-size;
  p {
    margin: 0;
    text-align: center;
    background: none;
    color: $disabled-text-color;
    font-size: 1em;
    line-height: 0.4em;
    margin-top: $date-size / 2 - 0.5;
  }
  cursor: pointer;
}

.inMonth {
  p {
    color: $text-color;
  }
}

.weekend {
  background-color: $disabled-background-color;
}

.today {
  background-color: $text-color;
  p {
    color: $highlight-text-color;
  }
}

.selected {
  width: $date-size + 0.5;
  height: $date-size + 0.5;
  margin: -0.25em;
  background-color: $highlight-background-color;
  // background-image: radial-gradient(circle, $highlight-background-color-rgba-1 , $highlight-background-color-rgba-0 60%);
  p {
    font-size: 1.2em;
    color: $text-color;
  }
}