<div [ngClass]="{'today': calendarDate.isToday, 'inMonth': calendarDate.isCurrentMonth, 'weekend': isWeekend, 'selected': calendarDate.isSelected}"
    (click)="emitSelection()">
    <p>{{dateTime.date()}}</p>
</div>