.agenda-section {
  background-color: white;

  & .align-items-center,
  & .justify-content-end {
    display: flex;
  }

  button {
    width: 4em;
    height: 4em;
    fa-icon {
      font-size: xx-large;
    }
  }
}

.agenda {
  min-height: 20em;
}

.ng-invalid.ng-touched {
  border-color: #dc3545;
}

input.ng-valid.ng-touched {
  border-color: #42a948;
}

.reminders {
  background-color: transparent;
  button,
  .row {
    width: 100%;
    height: auto;

    img {
      width: 1.5rem;
    }
  }
}
