<div class="mx-auto m-5 p-4 shadow-lg agenda-section">
    <div class="px-3 pt-1">
        <div class="row">
            <div class="col-sm-6">
                <h3>{{date?.format("DD")}}</h3>
                <h6>{{getDayName()}}</h6>
            </div>
            <div class="col-sm-6 justify-content-end">
                <button type="button" class="btn btn-primary rounded-circle" (click)="toogleNewReminder()"
                    *ngIf="status === 'view'">
                    <fa-icon [icon]="newReminderIcon"></fa-icon>
                </button>
                <button type="button" class="btn btn-danger rounded-circle mr-5" (click)="cancel()"
                    *ngIf="status === 'create'">
                    <fa-icon [icon]="cancelReminderIcon"></fa-icon>
                </button>
                <button type="submit" class="btn btn-success rounded-circle" (click)="save()" [disabled]="form.invalid"
                    *ngIf="status === 'create'">
                    <fa-icon [icon]="saveReminderIcon"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <hr />
    <div class="px-3 agenda">
        <ng-container *ngIf="status === 'create'; then create; else view ">
        </ng-container>
    </div>
</div>

<ng-template #create>
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="reminderTitle">Title</label>
                <input type="text" class="form-control" id="reminderTitle" placeholder="Reminder title"
                    formControlName="title" />
                <span class="text-danger"
                    *ngIf="form.controls.title?.errors?.maxlength && (form.controls.title.dirty || form.controls.title.touched)">
                    Title cannot be more than 30 characters long.
                </span>
            </div>
            <div class="form-group col-sm-12 col-md-6">
                <label for="reminderTime">Time *</label>
                <input type="text" class="form-control" id="reminderTime" placeholder="11:00" formControlName="time"
                    [ngxTimepicker]="picker" [format]="24" />
                <ngx-material-timepicker #picker></ngx-material-timepicker>
                <span class="text-danger"
                    *ngIf="form.controls.time?.errors?.required && (form.controls.time.dirty || form.controls.time.touched)">
                    Time is required.
                </span>
            </div>
            <div class="form-group col-sm-12 col-md-6">
                <label for="reminderCity">City *</label>
                <input ngx-google-places-autocomplete [options]="placesOptions" #placesRef="ngx-places"
                    (onAddressChange)="pickedCity($event)" id="reminderCity" class="form-control"
                    formControlName="city" />
                <span class="text-danger"
                    *ngIf="form.controls.city?.errors?.required && (form.controls.city.dirty || form.controls.city.touched)">
                    City is required.
                </span>
            </div>
            <div class="form-group col-sm-12">
                <label for="reminderColor">Color *</label>
                <span [cpToggle]="true" [cpDialogDisplay]="'inline'" [cpCancelButton]="true" [(colorPicker)]="color"
                    [cpOutputFormat]="'hex'" id="reminderColor" (colorPickerChange)="pickedColor($event)"
                    [cpCancelButtonClass]="'btn btn-primary btn-xs'"></span>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #view>
    <div class="row align-items-center reminders">
        <div *ngFor="let reminder of reminders, index as i" class="col-sm-12">
            <button class="btn btn-block" [ngStyle]="{'background-color': reminder.color}">
                <div class="row">
                    <div class="col-md-1 col-sm-12">
                        {{reminder.datetime.format('HH:mm')}}
                    </div>
                    <div class="col-md-8 col-sm-12 text-left">
                        {{reminder.name}}
                    </div>
                    <div class="col-md-2 col-sm-12 text-left">
                        at {{reminder.city}}
                    </div>
                    <div class="col-md-1 col-sm-12">
                        <img src="http://openweathermap.org/img/wn/{{weatherIcons[i]?.icon}}.png" alt="{{weatherIcons[i]?.alt}}"/>
                    </div>
                </div>

            </button>
        </div>
    </div>
    <div *ngIf="reminders && reminders.length === 0">
        <blockquote class="blockquote">
            <p class="mb-0">Nothing is happenning on this day so far.</p>
        </blockquote>
    </div>
</ng-template>