$date-size: 4em;
$padding-size: 0.25em;
$border-size: 1px;

//front colors
$text-color: white;
$disabled-text-color: #8b8396;
$highlight-text-color: black;
$calendar-header-color: #5c3f81;

//background colors
$highlight-background-color: #f16580;
$highlight-background-color-rgba-0: rgb(241, 101, 128, 0);
$highlight-background-color-rgba-1: rgb(241, 101, 128, 0.75);
$disabled-background-color: #3b225c;
$calendar-background-color: #4a2a73;
