<div class="container-fluid">
    <div class="row">
        <calendar class="col-md-6 col-sm-12"></calendar>
        <list-reminders class="col-md-6 col-sm-12"></list-reminders>
    </div>
</div>


<router-outlet></router-outlet>