/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Lato", sans-serif;
}

html,
body {
  background-color: #f1657f;
  background: radial-gradient(ellipse at top, #f1657f, #4a2a73 60%);
  min-height: 100vh;
  overflow: auto;
}

.color-picker {
  z-index: 1 !important;
}
