@import "../../app.component";

.header {
  display: inline-block;
  padding: 15px 0;
  margin: $date-size / 3 0;
  background-color: $calendar-header-color;

  div {
    width: $date-size;
    height: 1.5em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: $padding-size;
    color: $text-color;
    background-color: $calendar-header-color;
  }
}
